body {
  margin:0;
  font-family: 'Oxygen', sans-serif;
}

.textWrapper {
  width: 90%;
  margin: auto;
  text-align: left;
  word-wrap: break-word;
  line-height: 1.7em
}

.videoWrapper {
  width:100%;
	margin:0 auto;
}

span {
  cursor: pointer;
 }
.mejs__time-current {
  background: #ffb366;}

@media screen and (min-width:768px) {
  .videoWrapper,
  .textWrapper {
    width:80%;
  }

  .videoWrapper {
    margin-top: 30px;
  }
}
